[Unit]
Description= ipShow
After=network.target

[Service]
ExecStart=/home/pi/CanSat2021/runCanSat.sh
WorkingDirectory=/home/pi/CanSat2021
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

